# 2-2.1 Intro Python
## Sequence: Lists 
- **List Creation**
- **List Access**
- List Append
- List Insert
- List Delete

----- 

><font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>  
- **Create Lists**
- **Access items in a list**
- Add Items to the end of a list
- Insert items into a list
- Delete items from a list

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## Creating Lists
[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)]( http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/933c4e57-93ae-4660-8725-6eff3987dd1c/Unit2_Section2.1a-Creating_Lists.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/933c4e57-93ae-4660-8725-6eff3987dd1c/Unit2_Section2.1a-Creating_Lists.vtt","srclang":"en","kind":"subtitles","label":"english"}])
A simple lists contains **comma separated** objects enclosed in **square brackets**   
```python
empty_list = [ ]
sample_list = [1, 1, 2, 3, 3, 3, 3, 4, 5, 5, 5, 5, 5]
```

List object types are not restricted so a mix of object types can be in single list
```python
mixed_list = [1, 1, "one", "two", 2.0, sample_list, "Hello World"]
```

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [1]:
# [ ] review and run example
# define list of strings
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", "intermediate cuneiform", "medial cuneiform"]

# display type information
print("ft_bones: ", type(ft_bones))

# print the list
print(ft_bones)

ft_bones:  <class 'list'>
['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

In [2]:
# [ ] review and run example
# define list of integers
age_survey = [12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]

# display type information
print("age_survey: ", type(age_survey))

# print the list
print(age_survey)

age_survey:  <class 'list'>
[12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]

In [3]:
# [ ] review and run example
# define list of mixed data type
mixed_list = [1, 34, 0.999, "dog", "cat", ft_bones, age_survey]

# display type information
print("mixed_list: ", type(mixed_list))

# print the list
print(mixed_list)

mixed_list:  <class 'list'>
[1, 34, 0.999, 'dog', 'cat', ['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform'], [12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]]

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 1</B></font>

## Create Lists

In [5]:
# [ ] create team_names list and populate with 3-5 team name strings
team_names = ['chicago bulls', 'miami heat', 'los angeles lakers', 'golden state warriors']

# [ ] print the list
print(team_names)

['chicago bulls', 'miami heat', 'los angeles lakers', 'golden state warriors']

In [6]:
# [ ] Create a list mix_list with numbers and strings with 4-6 items
mix_list = ['0', '1', '2', 'red', 'green', 'blue', 'learn python']

# [ ] print the list
print(mix_list)

['0', '1', '2', 'red', 'green', 'blue', 'learn python']

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## List Access 
[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)]( http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/efc23682-3b15-4c73-afe0-77067fac2769/Unit2_Section2.1b-Accessing_Lists.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/efc23682-3b15-4c73-afe0-77067fac2769/Unit2_Section2.1b-Accessing_Lists.vtt","srclang":"en","kind":"subtitles","label":"english"}])
### Counting like a computer
#### To access a list we need to count like a computer, and that means starting with zero (0)
Lists give an **index** number to each list item

- first element in a list is index 0
- second element in a list is index 1

To access the first item in a list use the list name, followed by square brackets containing the index number
```python
age_survey[0]
```

### &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

|run previous examples before running the examples below|
|-----------------------------------------------------------|

In [7]:
# [ ] review and run example
print(ft_bones[0], "is the 1st bone on the list")
print(ft_bones[2], "is the 3rd bone on the list")
print(ft_bones[-1], "is the last bone on the list")

calcaneus is the 1st bone on the list
cuboid is the 3rd bone on the list
medial cuneiform is the last bone on the list

In [8]:
# [ ] review and run example
print(ft_bones[1], "is connected to the",ft_bones[3])

talus is connected to the navicular

In [9]:
# [ ] review and run example
three_ages_sum = age_survey[0] + age_survey[1] + age_survey[2]
print("The first three ages total", three_ages_sum)

The first three ages total 38

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 2</B></font>

In [10]:
# [ ] Create a list, streets, that lists the name of 5 street name strings
streets = ["park avenue", "elm street", "brighton avenue", "googleplex", "rodeo street"]

# [ ] print a message that there is "No Parking" on index 0 or index 4 streets
print("No parking at", streets[4])

No parking at rodeo street

In [11]:
# [ ] Create a list, num_2_add, made of 5 different numbers between 0 - 25
num_2_add = [0, 3, 10, 15, 25]

# [ ] print the sum of the numbers
print(num_2_add[0] + num_2_add[1] + num_2_add[2] + num_2_add[3] + num_2_add[4])

53

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 3</B></font>  
## Fix the Errors

In [12]:
# [ ] Review & Run, but ***Do Not Edit*** this code cell
# [ ] Fix the error by only editing and running the block below

print(" Total of checks 3 & 4 = $", pay_checks[2] + pay_checks[3])

NameError: name 'pay_checks' is not defined

In [13]:
# [ ] Fix the error above by creating and running code in this cell
pay_checks = [12.99, 14.57, 13.52, 2.99]
print(" Total of checks 3 & 4 = $", pay_checks[2] + pay_checks[3])

 Total of checks 3 & 4 = $ 16.509999999999998

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; Â© 2017 Microsoft